import #FILE_NAME# from "#VIEW_PATH#";

export const enum #FILE_NAME#Msg {
#MESSAGES#
}

export class #CLASS_NAME# extends ExtensionClass<IView, #FILE_NAME#>(#FILE_NAME#) implements IView {

	override onCreate() {
        #ALL_COMP#
    }

}
