declare enum EViewID {
#CONTENT#
}

declare type EButtonViewID = Extract<EViewID, `Btn${ string }`>;
declare type ERenderViewID = Extract<EViewID, `Render${ string }`>;
declare type ELabelViewID = Extract<EViewID, `Label${ string }`>;
declare type EComViewID = Extract<EViewID, `Com${ string }`>;
declare type EUIViewID = Extract<EViewID, `UI${ string }`>;